body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 650px;
	margin: 0 auto;
	border: 3px solid blue;
	padding: 15px 25px;
}
h1 {
	font-family: Arial;
	color: green;
	text-align: center;
}
div{
	font-family: Arial;
	color: red;
	text-align: center;
	border: 1px solid black;
	font-size: 150%;
}